---
BasedOnStyle: WebKit
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
ColumnLimit: 100
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeTernaryOperators: 'true'
...
